<meta http-equiv="Content-Security-Policy" content="
 default-src 'self';
 base-uri 'self';
 object-src 'none';
 img-src 'self' data: https:;
 script-src 'self' https://plausible.io;
 style-src 'self' 'unsafe-inline' https:;
 font-src 'self' https: data:;
 media-src 'self';
 worker-src 'self';
 connect-src 'self' https://formsubmit.co https://plausible.io;
 form-action 'self' https://formsubmit.co;
">
<link rel="preload" href="/fonts/montserrat-600-normal.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/montserrat-700-normal.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="/fonts.css">
<link rel="stylesheet" href="/VAHorizonWebsiteStyle/_components/v1/93bdfffda6e0bf9a7fd91429ea912af65458e738.css?v=3">
<link rel="stylesheet" href="/cards.css?v=3">
<link rel="stylesheet" href="/css/va-custom.css?v=navfix-20260525">
<link rel="stylesheet" href="/css/tailwind.min.css">
